*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#8CC461;
    justify-content: center;
}
.fullbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg{
    position: fixed;
    top: 8%;

}
.icon{
    position: fixed;
    top: 20%;
}
.pb{
    letter-spacing: 2px;
    cursor: pointer;
    color: black;
    padding: 15px 11px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}
.mt{
    color: white;
    font-size: 100px;
    position: fixed;
    top: 57%;
    left: 35%;
    justify-content: center;
    text-align: center;
}
.st{
    color: white;
    font-size: 46px;
    position: fixed;
    top: 75%;
    left: 35%;
    justify-content: center;
    text-align: center;
}
.play{
    position: fixed;
    top: 87%;
    left: 47%;
}
.btn-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem 0.5rem 0;
    position: fixed;
    top: 93%; 
}
.btn-rule{
    padding: 8px 30px;
    border: 2px solid white;
    outline: none;
    background: transparent;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.rule-modal{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:15%;
    left: 39%;
    display: none;
}
.rule-modal::before{
    position: absolute;
    content: "";
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
.rule-img{
    z-index: 1;
    transform: translateY(-200%);
    transition: all 0.4s ease;
}
.rule-img div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.close{
    position: fixed;
    margin-left: 115px;
    margin-bottom: -20px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: red;
    height: 50px;
    width: 40px;
    cursor: pointer;
}